.page-post-detail {

  .site-overview {
    display: none;
    margin-top: 20px;
  }

  .sidebar-toggle-line {
    background: $sidebar-highlight;
  }

  .comments {
    overflow: hidden;
  }

  .toc-article {
    background: #eee;
    margin: 0 0 0 .5em;
    padding: 1em
  }
 
  #toc toc{
    padding:0
  }

  #toc ol{
    margin-left:0
  }

  #toc-number{
    display:none
  }

  #toc .toc li {
    list-style-type: none
  }
}
